PORT=3333
LOCAL_PORT=3301
APP_ENV=local

JWT_SECRET_KEY=secret123
JWT_EXPIRES_IN_SECONDS=86400
JWT_PUBLIC_TOKEN=token123

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=development
DB_USERNAME=root
DB_PASSWORD=root
DB_TIMEZONE=UTC
DB_ENABLED_SSL=false
DB_LOGGING=true

REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DATABASE=0

SLACK_TOKEN=
SLACK_CHANNEL=logs-api
SLACK_MEMBER_ID=U04R
SLACK_USERNAME="Finance API"